<ul>
  <li><a href="/mtn_ranges">Mountain Ranges</a></li>
  <li><a href="/mountains">Mountains</a></li>
  <li><a href="/hikes">Hikes</a></li>
  <li><a href="/parks">Parks</a></li>
</ul>

<h1><%= @mountain.name %></h1>

<p>Elevation: <%= @mountain.elevation%></p>
<p>Safe Winter Route?: <%= @mountain.safe_winter_route %></p>
