<ul>
  <li><a href="/mtn_ranges">Mountain Ranges</a></li>
  <li><a href="/mountains">Mountains</a></li>
  <li><a href="/parks">Parks</a></li>
  <li><a href="/hikes">Hikes</a></li>
</ul>

<h1><%= @park.name %></h1>
<p>Entrance Fee: <%= @park.entrance_fee%></p>
<p>Ocean Access: <%= @park.ocean_access %></p>
<p>Hike Count: <%= @park.hike_count %></p>
