<ul>
  <li><a href="/mtn_ranges">Mountain Ranges</a></li>
  <li><a href="/mountains">Mountains</a></li>
  <li><a href="/parks">Parks</a></li>
  <li><a href="/hikes">Hikes</a></li>
</ul>

<h1><%= @hike.name %></h1>
<p>Mileage: <%= @hike.mileage%></p>
<p>Elevation Gain: <%= @hike.elevation_gain %></p>
<p>Water on Route: <%= @hike.water_on_route %></p>
