<h1> Welcome to the GREAT OUTDOORS </h1>
<ul>
    <li><a href="/mtn_ranges">Mountain Ranges</a></li>
    <li><a href="/mountains">Mountains</a></li>
    <li><a href="/parks">Parks</a></li>
    <li><a href="/hikes">Hikes</a></li>
</ul>

