<ul>
  <li><a href="/mtn_ranges">Mountain Ranges</a></li>
  <li><a href="/mountains">Mountains</a></li>
  <li><a href="/hikes">Hikes</a></li>
  <li><a href="/parks">Parks</a></li>
</ul>

<h1>All Mountains in <%= @mtn_range.name %> Range</h1>

<% @mountains.each do |mountain| %>
  <h3><%=mountain.name%></h3>
  <p>Elevation: <%=mountain.elevation%></p>
  <p>Safe Winter Route? <%=mountain.safe_winter_route%></p>

<% end %>

