<ul>
  <li><a href="/mtn_ranges">Mountain Ranges</a></li>
  <li><a href="/mountains">Mountains</a></li>
  <li><a href="/hikes">Hikes</a></li>
  <li><a href="/parks">Parks</a></li>
</ul>

<%= link_to "New Mountain Range", "/mtn_ranges/new"  %>


<h1>All Mountain Ranges</h1>
<% @mtn_ranges.most_recent_first.each do |mtn_range| %>
  <h3><%=mtn_range.name%>
    <span style = "font-size:16px; font-weight:normal;">  (Created at: <%=mtn_range.created_at%>)</span></h3>
<% end %>
